main {
  background: url(../../img/2-main/womenimg.svg) no-repeat right top;
  background-size: contain;

}

@media (max-width : 786px) {
  main {
    background: #ff795722;
  }

  main .numbers {
    width: 95% !important;
  }

  main .numbers h6 {
    font-size: 0.8rem;
  }
}