/* start Service sec */

.service .content {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 0 5px #33333355;
  transition: 0.5s;
}

.service .content i {
  color: #ff7a57;
  font-size: 3rem;
  transition: 0.5s;

}

.service .content h5 {
  color: #333;
  margin-top: 1.5rem;
  transition: 0.5s;

}

.service .content:hover {
  background-color: #ff7a57;
  color: #fff;
}

.service .content:hover i {
  color: #fff;
}

.service .content:hover h5 {
  color: #fff;
}

/* end Service sec */